<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a routerLink="/grades" class="btn btn-info">Lista ocen</a></li>
            <li class="list-inline-item"><a routerLink="/addgrade" class="btn btn-info">Dodaj ocenę</a></li>
            <li class="list-inline-item"><a routerLink="/updategrade" class="btn btn-info">Edytuj ocenę</a></li>
            <li class="list-inline-item"><a routerLink="/deletegrade" class="btn btn-info">Usuń ocenę</a></li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
